.contact {
  margin-top: 120px;
  margin-bottom: 120px;
  @include d(s) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__info {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 3em;
    color: $dark-beige;
    @include d(l) {
      float: right;
      margin-top: -3em;
      text-align: right;
    }
  }

  &__map {
    @include box-shadow(0 0 0 10px $medium-beige);
    display: block;
    clear: both;
  }

  &__map > img {
    width: 100%;
  }
}
