.footer {
  @include box-shadow(0 0 0 10px $gray);
  padding: 20px 0;
  background-color: $gray;

  &__copy {
    color: $light-beige;
    @include d(s) {
      text-align: center;
    }
  }

  &__icon {
    float: right;
    @include d(s) {
      float: none;
      margin: 20px auto;
    }
  }
}
