.intro {
  margin-top: 60px;
  @include d(s) {
    margin-top: 20px;
  }

  &__logo {
    margin-bottom: 60px;
  }

  &__info {
    max-width: 320px;
    border-right: 2px solid $gray;
  }

  &__schedule,
  &__address {
    padding-top: 10px;
  }

  &__schedule {
    padding-bottom: 10px;
    border-bottom: 2px solid $gray;
  }

  &__status {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 30px;
    border-radius: 50%;
  }

  &__status--open {
    background-color: $green;
  }

  &__phone {
    color: $dark-beige;
    @include d(s) {
      margin-bottom: 40px;
    }
  }

  &__phone::after {
    display: block;
    margin-top: 200px;
    color: $gray;
    font-size: 220px;
    letter-spacing: -90px;
    content: "/ / / /";
    @include d(m) {
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include d(s) {
      display: none;
    }
  }

  &__photo {
    width: 100%;
    border: 10px solid $medium-beige;
  }
}
