.intro {
  margin-top: 60px;
  @include d(s) {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.intro-info {
  max-width: 320px;
  border-right: 2px solid $gray;

  p {
    padding-top: 10px;
  }

  p:first-child {
    padding-bottom: 10px;
    border-bottom: 2px solid $gray;
  }
}

.intro-phone {
  color: $dark-beige;
  @include d(s) {
    margin-bottom: 40px;
  }

  &::after {
    display: block;
    margin-top: 200px;
    color: $gray;
    font-size: 220px;
    letter-spacing: -90px;
    content: "/ / / /";
    @include d(m) {
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include d(s) {
      display: none;
    }
  }
}

.open {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 30px;
  background-color: $green;
  border-radius: 50%;
}

.intro-photo {
  width: 100%;
  border: 10px solid $medium-beige;
}
