.menu {
  margin-top: 120px;
  margin-bottom: 120px;
  @include d(s) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__content {
    margin-bottom: 60px;
    @include d(s) {
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    margin-top: 50px;
    border: 10px solid $medium-beige;
    border-radius: 50%;
    @include d(l) {
      right: 120px;
    }
    @include d(s) {
      position: relative;
      width: 150px;
      margin: 10px auto;
    }
  }

  &__title {
    @include type-2(24);
    margin-bottom: 1em;
  }

  &__list {
    display: inline-block;
    text-align: left;
    list-style-type: none;
  }

  &__item {
    @include type-1(18);
    line-height: em(35, 18);
  }

  &__price {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
    margin-left: -80px;
    color: $dark-beige;
    font-family: $font-type-2;
    text-align: right;
    @include d(s) {
      width: auto;
      margin-left: 0;
    }
  }
}
